# `pandas` ile birden fazla dosya

In [2]:
import numpy as np
import pandas as pd
import matplotlib

## Merge AlÄ±ÅŸtÄ±rmasÄ±

In [3]:
a_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Finland'],
    'Population (M)': [82.8, 67.2, 11.4, 5.5],
    'Capital': ['Berlin', 'Paris', 'Brussels', 'Helsinki']
})
a_df

   Country  Population (M)   Capital
0  Germany            82.8    Berlin
1   France            67.2     Paris
2  Belgium            11.4  Brussels
3  Finland             5.5  Helsinki

In [4]:
b_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Canada'],
    'HDI': [0.936, 0.901, 0.916, 0.926]
})
b_df

   Country    HDI
0  Germany  0.936
1   France  0.901
2  Belgium  0.916
3   Canada  0.926

### Ä°Ã§ BirleÅŸtirme (inner merge)

In [8]:
inner_merged_df = a_df.merge(b_df, on='Country', how='inner')
inner_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916

her iki DataFrame'de de ortak olan anahtar deÄŸerlere sahip satÄ±rlarÄ± birleÅŸtirir. Ortak olmayan satÄ±rlar sonuÃ§ DataFrame'inde yer almaz. Bu iÅŸlemde Finland ve Canada satÄ±rlarÄ±, diÄŸer DataFrame'de karÅŸÄ±lÄ±klarÄ± olmadÄ±ÄŸÄ± iÃ§in sonuÃ§ta yer almayacaktÄ±r.

In [9]:
from nbresult import ChallengeResult

result = ChallengeResult('inner_merge',
    inner_merged_shape=inner_merged_df.shape,
    inner_merged_nulls=sum(inner_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/tumay/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/tumay/code/data-science-multiple-files-with-pandas
configfile: pytest.ini
plugins: anyio-4.8.0, dash-3.3.0, typeguard-4.4.2
collecting ... collected 2 items

test_inner_merge.py::TestInnerMerge::test_inner_merged_nulls PASSED      [ 50%]
test_inner_merge.py::TestInnerMerge::test_inner_merged_shape PASSED      [100%]

============================== 2 passed in 0.01s ===============================


ðŸ’¯ You can commit your code:

git add tests/inner_merge.pickle

git commit -m 'Completed inner_merge step'

git push origin master

## Sol BirleÅŸtirme (Left Merge)

In [11]:
inner_merged_df = a_df.merge(b_df, on='Country', how='left')
inner_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3  Finland             5.5  Helsinki    NaN

In [12]:
left_merged_df = pd.merge(a_df, b_df, on='Country', how='left')
left_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3  Finland             5.5  Helsinki    NaN

Sol birleÅŸtirme, sol DataFrame'deki tÃ¼m satÄ±rlarÄ± korur ve saÄŸ DataFrame'den eÅŸleÅŸen satÄ±rlarÄ± ekler. SaÄŸ DataFrame'de eÅŸleÅŸme bulunamayan yerlere NaN (Not a Number) deÄŸerleri atanÄ±r. Bu durumda Finland satÄ±rÄ± korunacak, ancak HDI deÄŸeri NaN olacaktÄ±r. Canada ise sonuÃ§ta yer almayacaktÄ±r.

In [13]:
from nbresult import ChallengeResult

result = ChallengeResult('left_merge',
    left_merged_shape=left_merged_df.shape,
    left_merged_nulls=sum(left_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/tumay/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/tumay/code/data-science-multiple-files-with-pandas
configfile: pytest.ini
plugins: anyio-4.8.0, dash-3.3.0, typeguard-4.4.2
collecting ... collected 2 items

test_left_merge.py::TestLeftMerge::test_left_merged_df_shape PASSED      [ 50%]
test_left_merge.py::TestLeftMerge::test_left_merged_nulls PASSED         [100%]

============================== 2 passed in 0.01s ===============================


ðŸ’¯ You can commit your code:

git add tests/left_merge.pickle

git commit -m 'Completed left_merge step'

git push origin master

## SaÄŸ BirleÅŸtirme (Right Merge)

In [19]:
right_merged_df = pd.merge(a_df, b_df, on='Country', how='right')
right_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3   Canada             NaN       NaN  0.926

In [20]:
from nbresult import ChallengeResult

result = ChallengeResult('right_merge',
    right_merged_shape=right_merged_df.shape,
    right_merged_nulls=sum(right_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/tumay/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/tumay/code/data-science-multiple-files-with-pandas
configfile: pytest.ini
plugins: anyio-4.8.0, dash-3.3.0, typeguard-4.4.2
collecting ... collected 2 items

test_right_merge.py::TestRightMerge::test_right_merged_df_shape PASSED   [ 50%]
test_right_merge.py::TestRightMerge::test_right_merged_nulls PASSED      [100%]

============================== 2 passed in 0.01s ===============================


ðŸ’¯ You can commit your code:

git add tests/right_merge.pickle

git commit -m 'Completed right_merge step'

git push origin master

## DÄ±ÅŸ BirleÅŸtirme (Outer Merge)

In [26]:
outer_merged_df = pd.merge(a_df, b_df, on='Country', how='outer')
outer_merged_df.sort_values(by='Population (M)', ascending=False)

   Country  Population (M)   Capital    HDI
4  Germany            82.8    Berlin  0.936
3   France            67.2     Paris  0.901
0  Belgium            11.4  Brussels  0.916
2  Finland             5.5  Helsinki    NaN
1   Canada             NaN       NaN  0.926

DÄ±ÅŸ birleÅŸtirme, her iki DataFrame'deki tÃ¼m satÄ±rlarÄ± korur. EÅŸleÅŸme bulunamayan yerlere NaN deÄŸerleri atanÄ±r. Bu durumda hem Finland hem de Canada satÄ±rlarÄ± sonuÃ§ta yer alacak ve eksik deÄŸerler NaN ile doldurulacaktÄ±r.

In [24]:
from nbresult import ChallengeResult

result = ChallengeResult('outer_merge',
    outer_merged_shape=outer_merged_df.shape,
    outer_merged_nulls=sum(outer_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/tumay/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/tumay/code/data-science-multiple-files-with-pandas
configfile: pytest.ini
plugins: anyio-4.8.0, dash-3.3.0, typeguard-4.4.2
collecting ... collected 2 items

test_outer_merge.py::TestOuterMerge::test_outer_merged_df_shape PASSED   [ 50%]
test_outer_merge.py::TestOuterMerge::test_outer_merged_nulls PASSED      [100%]

============================== 2 passed in 0.01s ===============================


ðŸ’¯ You can commit your code:

git add tests/outer_merge.pickle

git commit -m 'Completed outer_merge step'

git push origin master

# Join AlÄ±ÅŸtÄ±rmasÄ±

join() fonksiyonu, merge()'e benzer ancak varsayÄ±lan olarak DataFrame'lerin indeksleri Ã¼zerinden birleÅŸtirme yapar. Genellikle bir DataFrame'in indeksini baÅŸka bir DataFrame'in sÃ¼tunuyla birleÅŸtirmek veya iki DataFrame'i indeksleri Ã¼zerinden birleÅŸtirmek iÃ§in kullanÄ±lÄ±r.

Merge: DeÄŸer bazlÄ±dÄ±r ($f(value_A, value_B)$).Join: Adres (Ä°ndeks) bazlÄ±dÄ±r ($f(index_A, index_B)$).

In [27]:
aa_df = a_df.set_index("Country")
aa_df

         Population (M)   Capital
Country
Germany            82.8    Berlin
France             67.2     Paris
Belgium            11.4  Brussels
Finland             5.5  Helsinki

In [30]:
bb_df = b_df.set_index("Country")
bb_df

           HDI
Country
Germany  0.936
France   0.901
Belgium  0.916
Canada   0.926

In [31]:
aa_df.join(bb_df)

         Population (M)   Capital    HDI
Country
Germany            82.8    Berlin  0.936
France             67.2     Paris  0.901
Belgium            11.4  Brussels  0.916
Finland             5.5  Helsinki    NaN

VarsayÄ±lan olarak .join() sol (left) birleÅŸtirme yapar. DiÄŸer birleÅŸtirme tÃ¼rlerini de how parametresi ile deneyebilirsiniz:

In [33]:
aa_df.join(bb_df, how='inner')

         Population (M)   Capital    HDI
Country
Germany            82.8    Berlin  0.936
France             67.2     Paris  0.901
Belgium            11.4  Brussels  0.916

In [34]:
aa_df.join(bb_df, how='right')

         Population (M)   Capital    HDI
Country
Germany            82.8    Berlin  0.936
France             67.2     Paris  0.901
Belgium            11.4  Brussels  0.916
Canada              NaN       NaN  0.926

In [35]:
aa_df.join(bb_df, how='outer')

         Population (M)   Capital    HDI
Country
Belgium            11.4  Brussels  0.916
Canada              NaN       NaN  0.926
Finland             5.5  Helsinki    NaN
France             67.2     Paris  0.901
Germany            82.8    Berlin  0.936

Ne zaman merge() ne zaman join() kullanmalÄ±yÄ±z?

Belirli bir sÃ¼tuna gÃ¶re birleÅŸtirmek istediÄŸinizde merge(); indeks Ã¼zerinden birleÅŸtirmek istediÄŸinizde join() kullanabilirsiniz.

## Concat AlÄ±ÅŸtÄ±rmasÄ±

concat() fonksiyonu, DataFrame'leri dikey (axis=0 veya axis='index') veya yatay (axis=1 veya axis='columns') olarak bir araya getirir. Genellikle aynÄ± yapÄ±ya sahip DataFrame'leri alt alta veya yan yana eklemek iÃ§in kullanÄ±lÄ±r.

In [36]:
concat_df = pd.concat([a_df, b_df], axis="index", sort=False)
concat_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin    NaN
1   France            67.2     Paris    NaN
2  Belgium            11.4  Brussels    NaN
3  Finland             5.5  Helsinki    NaN
0  Germany             NaN       NaN  0.936
1   France             NaN       NaN  0.901
2  Belgium             NaN       NaN  0.916
3   Canada             NaN       NaN  0.926

## Olympic Sports and Medals, 1896-2014