# `pandas` ile birden fazla dosya

In [2]:
import numpy as np
import pandas as pd
import matplotlib

## Merge AlÄ±ÅŸtÄ±rmasÄ±

In [3]:
a_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Finland'],
    'Population (M)': [82.8, 67.2, 11.4, 5.5],
    'Capital': ['Berlin', 'Paris', 'Brussels', 'Helsinki']
})
a_df

   Country  Population (M)   Capital
0  Germany            82.8    Berlin
1   France            67.2     Paris
2  Belgium            11.4  Brussels
3  Finland             5.5  Helsinki

In [4]:
b_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Canada'],
    'HDI': [0.936, 0.901, 0.916, 0.926]
})
b_df

   Country    HDI
0  Germany  0.936
1   France  0.901
2  Belgium  0.916
3   Canada  0.926

### Ä°Ã§ BirleÅŸtirme (inner merge)

In [8]:
inner_merged_df = a_df.merge(b_df, on='Country', how='inner')
inner_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916

her iki DataFrame'de de ortak olan anahtar deÄŸerlere sahip satÄ±rlarÄ± birleÅŸtirir. Ortak olmayan satÄ±rlar sonuÃ§ DataFrame'inde yer almaz. Bu iÅŸlemde Finland ve Canada satÄ±rlarÄ±, diÄŸer DataFrame'de karÅŸÄ±lÄ±klarÄ± olmadÄ±ÄŸÄ± iÃ§in sonuÃ§ta yer almayacaktÄ±r.

In [9]:
from nbresult import ChallengeResult

result = ChallengeResult('inner_merge',
    inner_merged_shape=inner_merged_df.shape,
    inner_merged_nulls=sum(inner_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/tumay/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/tumay/code/data-science-multiple-files-with-pandas
configfile: pytest.ini
plugins: anyio-4.8.0, dash-3.3.0, typeguard-4.4.2
collecting ... collected 2 items

test_inner_merge.py::TestInnerMerge::test_inner_merged_nulls PASSED      [ 50%]
test_inner_merge.py::TestInnerMerge::test_inner_merged_shape PASSED      [100%]

============================== 2 passed in 0.01s ===============================


ðŸ’¯ You can commit your code:

git add tests/inner_merge.pickle

git commit -m 'Completed inner_merge step'

git push origin master

## Sol BirleÅŸtirme (Left Merge)

In [11]:
inner_merged_df = a_df.merge(b_df, on='Country', how='left')
inner_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3  Finland             5.5  Helsinki    NaN

In [12]:
left_merged_df = pd.merge(a_df, b_df, on='Country', how='left')
left_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3  Finland             5.5  Helsinki    NaN

Sol birleÅŸtirme, sol DataFrame'deki tÃ¼m satÄ±rlarÄ± korur ve saÄŸ DataFrame'den eÅŸleÅŸen satÄ±rlarÄ± ekler. SaÄŸ DataFrame'de eÅŸleÅŸme bulunamayan yerlere NaN (Not a Number) deÄŸerleri atanÄ±r. Bu durumda Finland satÄ±rÄ± korunacak, ancak HDI deÄŸeri NaN olacaktÄ±r. Canada ise sonuÃ§ta yer almayacaktÄ±r.

In [13]:
from nbresult import ChallengeResult

result = ChallengeResult('left_merge',
    left_merged_shape=left_merged_df.shape,
    left_merged_nulls=sum(left_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/tumay/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/tumay/code/data-science-multiple-files-with-pandas
configfile: pytest.ini
plugins: anyio-4.8.0, dash-3.3.0, typeguard-4.4.2
collecting ... collected 2 items

test_left_merge.py::TestLeftMerge::test_left_merged_df_shape PASSED      [ 50%]
test_left_merge.py::TestLeftMerge::test_left_merged_nulls PASSED         [100%]

============================== 2 passed in 0.01s ===============================


ðŸ’¯ You can commit your code:

git add tests/left_merge.pickle

git commit -m 'Completed left_merge step'

git push origin master